<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>

      <ion-button fill="clear" slot="end" [routerLink]="['/carrito-compras']">
        <ion-icon src="../../assets/icon/cart-outline.svg"></ion-icon>
        <ion-badge>{{getNumeroItems()}}</ion-badge>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-list inset="true">
    @for (producto of listaProductos; track producto.id) {

    <ion-item
      button
      [routerLink]="['/detalle-producto/' + producto.id]"
      lines="full"
    >
      <ion-thumbnail slot="start">
        <img [src]="producto.imagen" />
        <ion-badge>{{producto.price}}</ion-badge>
      </ion-thumbnail>
      <ion-label>{{producto.nombre}} </ion-label>>
    </ion-item>
    }
  </ion-list>
</ion-content>
